<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-container w3-aqua">
    <ul>
      <a href="/static_pages/home" class="w3-btn w3-red">Home</a>
      <a href="/users" class="w3-btn w3-blue" >Users</a>
      <a href="/static_pages/help" class="w3-btn w3-red">Help</a>
      <a href="/static_pages/about" class="w3-btn w3-red">About</a>
    </ul>
    
    <%= yield %>
  </body>
</html>
